<div class="d-flex align-items-center justify-content-center my-auto">
    <div class="card text-center">
    <div class="card-header bg-warning">
        Warning!
    </div>
    <div class="card-body">
        <h5 class="card-title">You do not have permission to access this page.</h5>
        <p class="card-text">Click on the button below to return to the home page.</p>
        <a href="/home/index" class="btn btn-outline-warning">Home page</a>
    </div>
    </div>
</div>