@model int
<div class="text-center">
    <h2>Thank you.</h2>
    <p>Your order with number #@Model has been created.</p>
    <p>Your order will be sent to your address as soon as possible.</p>
    <a href="/" class="btn btn-primary">Home page</a>
</div>
